# Important Security - Not in Repository
*.pem
azure

# General - Not in Repository
*.db
*.sqlite3
__pycache__
*.pyc
*~
/.venv
geckodriver.log
.DS_Store
.vscode/.ropeproject/objectdb
collected_static
docs/*.html

# Accept these files in the repository
!.gitignore
!.travis.yml
