[BASIC]

# Regular expression matching correct argument names. Overrides argument-
# naming-style.
# Allows short argument names such as "pk"
argument-rgx=^[a-z][a-z0-9]*((_[a-z0-9]+)*)?$

# Good variable names which should always be accepted, separated by a comma.
good-names=i,
           j,
           k,
           ex,
           Run,
           _

# Regular expression matching correct variable names. Overrides variable-
# naming-style.
# Allows short variable names such as "pk"
variable-rgx=^[a-z][a-z0-9]*((_[a-z0-9]+)*)?$
